.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.side-bar {
  .site-footer {
    display: none;
  }
  .site-header {
    @media only screen and (min-width: 800px) {
      .site-title {
        // Display site title in one line when it's on the side bar
        font-size: 17px !important;
      }
    }
  }
}
