// ==== JUST THE DOCS OVERRIDES ===

// Custom side bar styles
.side-bar {
  .site-nav {
    padding-top: 1rem;
  }
  .site-header {
    @media only screen and (min-width: 800px) {
      .site-title {
        // Display site title in one line when it's on the side bar
        font-size: 17px !important;
      }
    }
  }
  .site-footer {
    display: none;
  }
}

// Custom styling for tags
.tags-container {
  padding: 4px 0 6px 0;
  .label, .label-blue {
    margin: 0 2px 6px 0;
    padding: 2px 8px;
    font-size: 11px !important;
  }
}

// Override defaults which put a huge amount of padding on the bottom on smaller screens
body {
  padding-bottom: 0;
}

// Prevent font sizes from getting small on mobile
.main-content {
  p {
    font-size: 16px !important;
  }
  h2 {
    font-size: 24px !important;
    @media only screen and (max-width: 500px) {
      font-size: 22px !important;
    }
  }
  h1 {
    font-size: 36px !important;
    @media only screen and (max-width: 500px) {
      font-size: 32px !important;
    }
  }
}
.breadcrumb-nav {
  font-size: 12px !important;
}

// === MY CUSTOM STYLES ===

.basic-button {
  -webkit-appearance: none;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 0.6em;
  border-style: solid;
  background-color: #E5E7EB;
  border-color: #E5E7EB;
  color: #0F172A;
  font-size: 16px !important;
  width: fit-content;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #F3F4F6;
    border-color: #F3F4F6;
    color: #94a3b8;
  }
}

.blue-button {
  @extend .basic-button;
  background-color: #2869e6;
  border-color: #2869e6;
  color: #fff;
  &:disabled {
    background-color: #60A5FA;
    border-color: #60A5FA;
    color: #fff;
  }
}

// Container to make youtube videos re-size responsively
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Custom home page styles
.home-page {
  background-image: url("/images/workshop_background_original.jpg");
  @media screen and (max-width: 2160px) {
    background-image: url("/images/workshop_background_2160w.jpg");
  }
  @media screen and (max-width: 1080px) {
    background-image: url("/images/workshop_background_1080w.jpg");
  }
  @media screen and (max-width: 720px) {
    background-image: url("/images/workshop_background_720w.jpg");
  }
  @media screen and (max-width: 480px) {
    background-image: url("/images/workshop_background_480w.jpg");
  }
  min-height: calc(100vh - 95px); // height of top nav
  @media screen and (max-width: 800px) {
    min-height: calc(100vh - 60px); // height of top nav
  }
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: -14px;
  padding: 12px;
  @media screen and (max-width: 800px) {
    margin-bottom: -5rem
  }
  .overlay {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 95px); // height of top nav
    @media screen and (max-width: 800px) {
      min-height: calc(100vh - 60px); // height of top nav
    }
    background-color: RGBA(22, 30, 42, 0.86);
    margin: -12px;
  }
  .home-page-card {
    padding: 16px;
    margin: 60px 0px;
    width: 100%;
    max-width: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      margin-top: 2px;
    }
    .subtitle {
      font-size: 20px;
    }
    @media screen and (max-width: 500px) {
      line-height: 1.75em;
      margin: 30px 0px 40px 0px;
      .title {
        margin-bottom: 18px;
      }
    }
    .inner-home-page-card {
      margin-top: 25px;
      border-radius: 5px;
      padding: 20px;
      background-color: white;
      max-width: 388px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 500px) {
        max-width: 335px;
      }
      .title {
        line-height: 1.2em;
        font-size: 23px !important;
      }
      .workshop-button {
        margin-top: 12px;
        @media screen and (max-width: 500px) {
          margin-top: 0;
        }
      }
    }
  }
}
